.race-results {
    padding: 20px;
    padding-top: 76px; /* Adjust this value based on the actual navbar height */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .controls-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  
  .year-select, .category-buttons, .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
  }
  
  .category-buttons button, .input-wrapper input {
    margin: 2px; /* Adjusted for minimal space usage */
    padding: 5px;
    width: auto;
  }
  