.results-table {
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Add vertical scroll */
  }
  
  .race-box {
    margin-bottom: 20px; /* Add space between boxes */
  }
  
  
  .new-box {
    width: 100%; /* Full width for every 7th box to reset layout */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  /* Ensure the table headers only appear at the top of each box */
  .race-box:first-child table thead tr {
    background-color: #f4f4f4;
  }
  
  .race-box:not(:first-child) table thead tr {
    display: none;
  }

  .position-1 {
    background-color: gold;
  }
  
  .position-2 {
    background-color: silver;
  }
  
  .position-3 {
    background-color: #cd7f32;
  }
  